<!--Start Footer Three-->
<footer class="footer-three">
  <div class="footer-main footer-main__three">
    <div class="footer-three__shape1">
      <img src="/assets/img/shape/footer-three__shape1.png" alt="shapes" />
    </div>
    <div class="footer-three__shape2">
      <img src="/assets/img/shape/footer-three__shape2.png" alt="shapes" />
    </div>

    <div class="container">
      <div
        class="footer-main__inner footer-main-two__inner footer-main-three__inner"
      >
        <div class="row">
          <!-- Company Info -->
          <div
            class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp"
            data-wow-delay=".1s"
          >
            <div class="single-footer-widget single-footer-widget-style2">
              <div class="title">
                <h3>Siberoptima</h3>
              </div>
              <div
                class="single-footer-widget-box single-footer-widget__about single-footer-widget__about--2"
              >
                <div class="text">
                  <p>Digital Marketing & Growth Partner</p>
                </div>
                <ul class="clearfix">
                  <li>
                    <div class="icon">
                      <span class="icon-pin"></span>
                    </div>
                    <p>
                      Jl. Tirtosumirat II No.4, Bumi, Kec. Laweyan, Kota
                      Surakarta, Jawa Tengah 57148
                    </p>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="icon-mail-inbox-app"></span>
                    </div>
                    <p>
                      <a href="mailto:siberoptima@gmail.com"
                        >siberoptima@gmail.com</a
                      >
                    </p>
                  </li>
                  <li>
                    <div class="icon">
                      <span class="icon-phone-call"></span>
                    </div>
                    <p>
                      <a href="tel:000245(862)092">000 245 (862) 092</a>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Navigation -->
          <div
            class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
            data-wow-delay=".2s"
          >
            <div class="single-footer-widget single-footer-widget-style2">
              <div class="title">
                <h3>Navigation</h3>
              </div>

              <div
                class="single-footer-widget-box single-footer-widget__links single-footer-widget__links-style2"
              >
                <ul class="clearfix">
                  <li>
                    <p><a href="index.html">Home</a></p>
                  </li>
                  <li>
                    <p><a href="about.html">About Us</a></p>
                  </li>
                  <li>
                    <p><a href="services.html">Services</a></p>
                  </li>
                  <li>
                    <p><a href="portfolio.html">Portfolio</a></p>
                  </li>
                  <li>
                    <p><a href="contact.html">Contact</a></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <!-- Services -->
          <div
            class="col-xl-3 col-lg-6 col-md-6 wow fadeInUp"
            data-wow-delay=".3s"
          >
            <div class="single-footer-widget single-footer-widget-style2">
              <div class="title">
                <h3>Our Services</h3>
              </div>

              <div
                class="single-footer-widget-box single-footer-widget__links single-footer-widget__links-style2"
              >
                <ul class="clearfix">
                  <li>
                    <p><a href="#">Digital Marketing</a></p>
                  </li>
                  <li>
                    <p><a href="#">Ads Management</a></p>
                  </li>
                  <li>
                    <p><a href="#">Content Planner</a></p>
                  </li>
                  <li>
                    <p><a href="#">Landing Page</a></p>
                  </li>
                  <li>
                    <p><a href="#">Website Development</a></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom footer-bottom-two footer-bottom-three">
      <div class="container">
        <div
          class="footer-bottom__inner footer-bottom__two-inner footer-bottom__three-inner"
        >
          <div class="copyright-text text-center">
            <p>© 2026 Siberoptima Digital Agency. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--End Footer Three-->
