<!--Start Project Two-->
<section class="project-two" id="projects">
  <div class="container">
    <div class="sec-title-three text-center">
      <div class="sub-title">
        <h4>Cases Studies</h4>
      </div>
      <h2>Some Of Our Recent Works</h2>
    </div>
    <div class="row">
      <div class="col-xl-12">
        <div class="project-two__inner">
          <div
            class="thm-swiper__slider swiper-container"
            data-swiper-options='{
                                "loop": true,
                                "pagination": {
                                    "el": "#project-two__pagination",
                                    "type": "bullets",
                                    "clickable": true
                                    },
                                "navigation": {
                                    "nextEl": "#project-two__swiper-button-next",
                                    "prevEl": "#project-two__swiper-button-prev"
                                },
                                "autoplay": { "delay": 5000 },
                                "breakpoints": {
                                    "0": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 1
                                    },
                                    "375": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 1
                                    },
                                    "575": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 1
                                    },
                                    "768": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 2
                                    },
                                    "992": {
                                        "spaceBetween": 30,
                                        "slidesPerView": 3
                                    },
                                    "1200": {
                                        "spaceBetween": 16,
                                        "slidesPerView": 4
                                    }
                                }}'
          >
            <div class="swiper-wrapper">
              <!--Start Single Project Two-->
              <div class="swiper-slide">
                <div class="project-two__single">
                  <div class="project-two__single-img">
                    <img
                      src="/assets/img/project/project-two__img1.jpg"
                      alt="image"
                    />
                    <div class="overlay-title">
                      <h4>Campaign Ads E-commerce</h4>
                      <h3>
                        <a href="#"
                          >Meningkatkan ROAS hingga 4x melalui optimasi Meta
                          Ads.</a
                        >
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Project Two-->

              <!--Start Single Project Two-->
              <div class="swiper-slide">
                <div class="project-two__single">
                  <div class="project-two__single-img">
                    <img
                      src="/assets/img/project/project-two__img2.jpg"
                      alt="image"
                    />
                    <div class="overlay-title">
                      <h4>Landing Page Produk Digital</h4>
                      <h3>
                        <a href="#"
                          >Conversion rate meningkat dari 1.8% menjadi 6%.</a
                        >
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Project Two-->

              <!--Start Single Project Two-->
              <div class="swiper-slide">
                <div class="project-two__single">
                  <div class="project-two__single-img">
                    <img
                      src="/assets/img/project/project-two__img3.jpg"
                      alt="image"
                    />
                    <div class="overlay-title">
                      <h4>Growth Social Media Brand</h4>
                      <h3>
                        <a href="#">Follower naik 3x dalam 4 bulan.</a>
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Project Two-->

              <!--Start Single Project Two-->
              <div class="swiper-slide">
                <div class="project-two__single">
                  <div class="project-two__single-img">
                    <img
                      src="/assets/img/project/project-two__img4.jpg"
                      alt="image"
                    />
                    <div class="overlay-title">
                      <h4>Lead Generation Campaign</h4>
                      <h3><a href="#">500+ leads dalam 30 hari.</a></h3>
                    </div>
                  </div>
                </div>
              </div>
              <!--End Single Project Two-->
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-nav-style2 project-two__swiper-nav">
              <div class="border1"></div>
              <div class="border2"></div>
              <div
                class="swiper-button-prev"
                id="project-two__swiper-button-prev"
              >
                <i class="icon-left-arrow right"></i>
              </div>
              <div
                class="swiper-button-next"
                id="project-two__swiper-button-next"
              >
                <i class="icon-right-arrow-angle left"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--End Project Two-->
