<!--Start Fact Counter One-->
<section class="fact-counter-one about">
  <div class="shape1">
    <img src="assets/img/shape/fact-counter-one-about-shape1.png" alt="" />
  </div>
  <div class="shape2">
    <img src="assets/img/shape/fact-counter-one-about-shape2.png" alt="" />
  </div>
  <div class="shape3">
    <img src="assets/img/shape/fact-counter-one-about-shape3.png" alt="" />
  </div>
  <div class="shape4">
    <img src="assets/img/shape/fact-counter-one-about-shape4.png" alt="" />
  </div>
  <div class="container">
    <div class="sec-title-three text-center">
      <h4 class="title">
        Scale Up Brand anda dengan Strategi berbasis data yang <br /> Terukur bersama
        Siberoptima
      </h4>
    </div>
    <div class="row justify-content-center">
      <!--Start Single Fact Counter-->
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-fact-counter wow fadeInUp" data-wow-delay=".1s">
          <div class="single-fact-counter-inner">
            <div class="single-fact-counter-icon">
              <span class="icon-completed-projects"
                ><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span></span
              >
            </div>
            <div class="outer-box">
              <div class="count-outer count-box">
                <h2 class="odometer" data-count="7">00</h2>
                <i class="icon-plus-symbol-button"></i>
              </div>
              <div class="title">
                <p>Tahun Pengalaman</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Fact Counter-->
      <!--Start Single Fact Counter-->
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-fact-counter wow fadeInUp" data-wow-delay=".2s">
          <div class="single-fact-counter-inner">
            <div class="single-fact-counter-icon">
              <span class="icon-winning-award"></span>
            </div>
            <div class="outer-box">
              <div class="count-outer count-box">
                <h2 class="odometer" data-count="5">00</h2>
                <i class="icon-plus-symbol-button"></i>
              </div>
              <div class="title">
                <p>Miliar Biaya Iklan yang Sudah Dikelola</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Fact Counter-->
      <!--Start Single Fact Counter-->
      <div class="col-xl-4 col-lg-6 col-md-6">
        <div class="single-fact-counter wow fadeInUp" data-wow-delay=".3s">
          <div class="single-fact-counter-inner">
            <div class="single-fact-counter-icon">
              <span class="icon-happy-clients"
                ><span class="path1"></span><span class="path2"></span><span
                  class="path3"></span><span class="path4"></span></span
              >
            </div>
            <div class="outer-box">
              <div class="count-outer count-box">
                <h2 class="odometer" data-count="30">00</h2>
                <i class="icon-plus-symbol-button"></i>
              </div>
              <div class="title">
                <p>Brand Worldwide</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Fact Counter-->
    </div>
  </div>
</section>
<!--End Fact Counter One-->
