<!--Start Banner Two-->
<section class="banner-three">
  <div class="banner-three__shape1 float-bob-x">
    <img src="/assets/img/shape/banner-three__shape1.png" alt="shapes" />
  </div>
  <div class="banner-three__shape2">
    <img src="/assets/img/shape/banner-three__shape2.png" alt="shapes" />
  </div>
  <div class="banner-three__shape3">
    <img src="/assets/img/shape/banner-three__shape3.png" alt="shapes" />
  </div>
  <div class="banner-three__shape4 float-bob-y">
    <img src="/assets/img/shape/banner-three__shape4.png" alt="shapes" />
  </div>
  <div class="banner-three__shape5">
    <img src="/assets/img/shape/banner-three__shape5.png" alt="shapes" />
  </div>
  <div class="banner-three__shape6 float-bob-y">
    <img src="/assets/img/shape/banner-three__shape6.png" alt="shapes" />
  </div>
  <div class="container">
    <div class="banner-three__content">
      <div class="banner-three__content-inner">
        <div class="sec-title-four">
          <div class="sub-title">
            <h4>Welcome To Siberoptima</h4>
          </div>
          <h2>Siberoptima <br />Digital Agency</h2>
        </div>
        <div class="text">
          <p>
            Kami membantu bisnis berkembang melalui strategi digital marketing,
            iklan berbayar, konten terarah, dan landing page yang menghasilkan
            konversi.
          </p>
        </div>
        <div class="btn-box">
          <a class="thm-btn" href="#">
            <span class="txt">
              Konsultasi Gratis
              <i class="icon-next"></i>
            </span>
          </a>
          <div class="video-gallery">
            <a href="#" class="text2">
              <p>Lihat Layanan Kami</p>
            </a>
          </div>
        </div>
      </div>

      <div class="banner-three__img">
        <ul>
          <li
            class="wow fadeInRight"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="
                    visibility: visible;
                    animation-duration: 1500ms;
                    animation-delay: 0ms;
                    animation-name: fadeInRight;
                  "
          >
            <div class="banner-three__img-single">
              <div class="inner">
                <img
                  src="/assets/img/slider/banner-three__img1.jpg"
                  alt="image"
                />
              </div>
            </div>
          </li>
          <li
            class="wow fadeInLeft"
            data-wow-delay="0ms"
            data-wow-duration="1500ms"
            style="
                    visibility: visible;
                    animation-duration: 1500ms;
                    animation-delay: 0ms;
                    animation-name: fadeInLeft;
                  "
          >
            <div class="banner-three__img-single instyle--2">
              <div class="inner">
                <img
                  src="/assets/img/slider/banner-three__img2.jpg"
                  alt="image"
                />
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!--End Banner Two-->
