<!--Start Working Process One-->
<section class="working-process-one">
  <div class="working-process-one__shape1 float-bob-x">
    <img src="/assets/img/shape/working-process__shape1.png" alt="shapes" />
  </div>
  <div class="working-process-one__shape2">
    <img src="/assets/img/shape/working-process__shape2.png" alt="shapes" />
  </div>
  <div class="working-process-one__shape5 float-bob-y">
    <img src="/assets/img/shape/working-process__shape5.png" alt="shapes" />
  </div>
  <div class="container">
    <div class="sec-title-four text-center">
      <div class="sub-title">
        <h4>Our Working Process</h4>
      </div>
      <h2>How Does We Work?</h2>
    </div>
    <div class="row">
      <!--Start Single Working Process One-->
      <div
        class="col-xl-3 col-lg-3 wow fadeInLeft"
        data-wow-delay="0ms"
        data-wow-duration="1500ms"
      >
        <div class="working-process-one__single text-center">
          <div class="icon-box">
            <i class="icon-problem-analysis"></i>
            <div class="overlay-list">
              <span>01</span>
            </div>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h5>First Step</h5>
              <h3><a href="#">Business Analysis</a></h3>
            </div>
            <div class="text-box">
              <p>Memahami bisnis, market, dan target audience.</p>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Working Process One-->

      <!--Start Single Working Process One-->
      <div
        class="col-xl-3 col-lg-3 wow fadeInRight"
        data-wow-delay="100ms"
        data-wow-duration="1500ms"
      >
        <div class="working-process-one__single text-center">
          <div class="working-process-one__shape3">
            <img
              src="/assets/img/shape/working-process__shape3.png"
              alt="shapes"
            />
          </div>
          <div class="icon-box">
            <i class="icon-find-solutions"></i>
            <div class="overlay-list">
              <span>02</span>
            </div>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h5>Second Step</h5>
              <h3><a href="#">Strategy Planning</a></h3>
            </div>
            <div class="text-box">
              <p>Menyusun strategi marketing yang tepat.</p>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Working Process One-->

      <!--Start Single Working Process One-->
      <div
        class="col-xl-3 col-lg-3 wow fadeInLeft"
        data-wow-delay="200ms"
        data-wow-duration="1500ms"
      >
        <div class="working-process-one__single text-center">
          <div class="working-process-one__shape4">
            <img
              src="/assets/img/shape/working-process__shape4.png"
              alt="shapes"
            />
          </div>
          <div class="icon-box">
            <i class="icon-build-develop"></i>
            <div class="overlay-list">
              <span>03</span>
            </div>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h5>Third Step</h5>
              <h3><a href="#">Campaign Execution</a></h3>
            </div>
            <div class="text-box">
              <p>Menjalankan ads, konten, dan landing page.</p>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Working Process One-->

      <!--Start Single Working Process One-->
      <div
        class="col-xl-3 col-lg-3 wow fadeInRight"
        data-wow-delay="100ms"
        data-wow-duration="1500ms"
      >
        <div class="working-process-one__single text-center">
          <div class="working-process-one__shape3">
            <img
              src="/assets/img/shape/working-process__shape3.png"
              alt="shapes"
            />
          </div>
          <div class="icon-box">
            <i class="icon-find-solutions"></i>
            <div class="overlay-list">
              <span>04</span>
            </div>
          </div>
          <div class="content-box">
            <div class="title-box">
              <h5>Fourth Step</h5>
              <h3><a href="#">Optimization</a></h3>
            </div>
            <div class="text-box">
              <p>Optimasi berdasarkan data performa.</p>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Working Process One-->
    </div>
  </div>
</section>
<!--End Working Process One-->
