<!--Start Service Three-->
<section class="service-three" id="services">
  <div class="service-three__shape1 float-bob-x">
    <img src="/assets/img/shape/service-three__shape1.png" alt="shapes" />
  </div>
  <div class="service-three__shape2">
    <img src="/assets/img/shape/service-three__shape2.png" alt="shapes" />
  </div>
  <div class="service-three__shape3 float-bob-y">
    <img src="/assets/img/shape/service-three__shape3.png" alt="shapes" />
  </div>
  <div class="container">
    <div class="sec-title-three text-center">
      <div class="sub-title">
        <h4>Our Services</h4>
      </div>
      <h2>What We Offer For You</h2>
    </div>
    <div class="row justify-content-md-center">
      <!--Start Single Service Three-->
      <div
        class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
        data-wow-delay="0ms"
        data-wow-duration="1500ms"
      >
        <div class="service-three__single">
          <div class="service-three__single-icon">
            <span class="icon-design-strategy1">
              <span class="path1"></span><span class="path2"></span>
            </span>
          </div>
          <div class="service-three__single-content">
            <div class="title">
              <h3>
                <a href="web-development.html"
                  >Performance Digital Marketing Ads and Consultant
                </a>
              </h3>
            </div>
            <div class="text">
              <p>
                Scale up bisnis dengan strategi iklan yang terukur dengan
                data-driven approaches
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Service Three-->

      <!--Start Single Service Three-->
      <div
        class="col-xl-4 col-lg-6 col-md-6 wow fadeInRight"
        data-wow-delay="100ms"
        data-wow-duration="1500ms"
      >
        <div class="service-three__single">
          <div class="service-three__single-icon">
            <span class="icon-web-development2"
              ><span class="path1"></span><span class="path2"></span><span
                class="path3"></span><span class="path4"></span><span
                class="path5"></span><span class="path6"></span><span
                class="path7"></span>
            </span>
          </div>
          <div class="service-three__single-content">
            <div class="title">
              <h3>
                <a href="web-development.html">Website Development</a>
              </h3>
            </div>
            <div class="text">
              <p>
                Tampil Lebih Profesional dengan Website yang dibuat sesuai
                kebutuhan brand
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Service Three-->

      <!--Start Single Service Three-->
      <div
        class="col-xl-4 col-lg-6 col-md-6 wow fadeInLeft"
        data-wow-delay="200ms"
        data-wow-duration="1500ms"
      >
        <div class="service-three__single">
          <div class="service-three__single-icon">
            <span class="icon-digital-marketing"
              ><span class="path1"></span><span class="path2"></span><span
                class="path3"></span>
            </span>
          </div>
          <div class="service-three__single-content">
            <div class="title">
              <h3>
                <a href="web-development.html"
                  >Content Creative and Social Media Management</a
                >
              </h3>
            </div>
            <div class="text">
              <p>
                Optimalkan kualitas konten iklan dan social media dengan goal
                yang clear dan terukur
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--End Single Service Three-->
    </div>
  </div>
</section>
<!--End Service Three-->
