<section class="team-two">
  <div class="team-two__shape1">
    <img src="/assets/img/shape/team-two__shape1.png" alt="shapes" />
  </div>
  <div class="team-two__shape2">
    <img src="/assets/img/shape/team-two__shape2.png" alt="shapes" />
  </div>
  <div class="team-two__shape3">
    <img src="/assets/img/shape/team-two__shape3.png" alt="shapes" />
  </div>
  <div class="team-two__shape4">
    <img src="/assets/img/shape/team-two__shape4.png" alt="shapes" />
  </div>
  <div class="team-two__shape5">
    <img src="/assets/img/shape/team-two__shape5.png" alt="shapes" />
  </div>
  <div class="container">
    <div class="sec-title-three text-center">
      <div class="sub-title">
        <h4>Team Members</h4>
      </div>
      <h2>Creative Team Leaders</h2>
    </div>
    <div class="row">
      <!--Start Team Two Single-->
      <div
        class="col-xl-4 col-lg-4 wow animated fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="team-two__single">
          <div class="team-two__single-overlay-bg"></div>
          <div class="team-two__single-img">
            <img src="/assets/img/team/team-v2-1.jpg" alt="image" />
            <div class="social-share-box">
              <span class="icon-plus"></span>
              <ul class="clearfix">
                <li>
                  <a href="#">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="team-two__single-content">
            <h3><a href="#">Daniel Stiphen</a></h3>
            <p>Web Developerr</p>
          </div>
        </div>
      </div>
      <!--End Team Two Single-->

      <!--Start Team Two Single-->
      <div
        class="col-xl-4 col-lg-4 wow animated fadeInUp"
        data-wow-delay="0.3s"
      >
        <div class="team-two__single">
          <div class="team-two__single-overlay-bg"></div>
          <div class="team-two__single-img">
            <img src="/assets/img/team/team-v2-2.jpg" alt="image" />
            <div class="social-share-box">
              <span class="icon-plus"></span>
              <ul class="clearfix">
                <li>
                  <a href="#">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="team-two__single-content">
            <h3><a href="#">Jenifer M. Florita</a></h3>
            <p>Website Developer</p>
          </div>
        </div>
      </div>
      <!--End Team Two Single-->

      <!--Start Team Two Single-->
      <div
        class="col-xl-4 col-lg-4 wow animated fadeInUp"
        data-wow-delay="0.5s"
      >
        <div class="team-two__single">
          <div class="team-two__single-overlay-bg"></div>
          <div class="team-two__single-img">
            <img src="/assets/img/team/team-v2-3.jpg" alt="image" />
            <div class="social-share-box">
              <span class="icon-plus"></span>
              <ul class="clearfix">
                <li>
                  <a href="#">
                    <i class="icon-facebook"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-twitter"></i>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <i class="icon-linkedin"></i>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="team-two__single-content">
            <h3><a href="#">Jhonshon Borison</a></h3>
            <p>UI/UX Designer & Developer</p>
          </div>
        </div>
      </div>
      <!--End Team Two Single-->
    </div>
  </div>
</section>
